.Item{

    width: 362px;
    padding-left: 16px;
    background-color:#FFFFFF;
    height: 632px;
    margin: 16px;
    @media(max-width:1200px){
        width: 304px;
    }

    @media(max-width:768px){
        width: 334px;
    }

    @media(max-width:480px) {
        width: 230px;
    }


    
    .promo{
        position: relative;
        img{
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            -ms-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select:none;
        }
        height: 378px;
        .like{
            position: absolute;
            right: 15px;
            top:12px;
            cursor: pointer;
            
        }

        .navArs{
            position: absolute;
            right:23px;
            bottom: 13px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            -ms-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select:none;

           
            

        }
    }

    .item_info{
       margin-top: 15px;
       
       .item_title{
      
        font-weight: 600;
        font-size: 24px;
        line-height: 25px;
        color: #272525;
       }

       .item_subtitle{
        margin-top: 12px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 13px;
        color: #272525;
       }

       .colors{
        margin-top: 15px;
        display: flex;
        list-style-type: none;
        margin-left: -5px;
        .color{
            width: 24px;
            height: 24px;
            border-radius: 999px;
            margin-left: 5px;
        }
       }

       .item_footer{
        margin-top: 44px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .price{
            font-weight: 600;
            font-size: 24px;
            line-height: 25px;
            color: #C4C4C4;
        }
       }
    }
}